*.config
.vs/projeto-site/CopilotIndices/17.14.786.1071/CodeChunks.db
.vs/projeto-site/CopilotIndices/17.14.786.1071/CodeChunks.db-shm
.vs/projeto-site/CopilotIndices/17.14.786.1071/CodeChunks.db-wal
.vs/projeto-site/CopilotIndices/17.14.786.1071/SemanticSymbols.db
.vs/projeto-site/CopilotIndices/17.14.786.1071/SemanticSymbols.db-shm
.vs/projeto-site/CopilotIndices/17.14.786.1071/SemanticSymbols.db-wal
.vs/projeto-site/FileContentIndex/6a466ce3-1d00-4e6c-b6ad-305a22f418c4.vsidx
.vs/projeto-site/FileContentIndex/bfdd824d-1e59-4f77-b609-bac52aa602d5.vsidx
.vs/slnx.sqlite
.vs/projeto-site/FileContentIndex/325fbb9a-5e69-483c-b0b7-18052c12c68e.vsidx
